<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom mb-10">
    <!-- Left -->
    <div class="mb-20 d-none d-lg-block">
      <span><h1>Hr-Mitra</h1></span>
    </div>
  </section>

  
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <%= link_to 'About us', about_path, target: "_blank", style: 'color:red'%>
      <%= link_to 'Contact us',contact_path, target: "_blank"%>
      <%= link_to 'Privacy Policy', privacy_policy_path, target: "_blank"%>
      <%= link_to 'Terms and Conditions', terms_and_conditions_path, target: "_blank"%>
     </div>
 </section>   

    
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->